@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&display=swap");

html {
  font-family: Poppins, "Hoefler Text", Georgia, "Times New Roman", Times, Roman, serif;
  font-size: 18px;
  color: rgb(255, 255, 255);
  line-height: 18px;
  padding: 18px; 
  background: #0d0e0d;
  text-align: center;
 
}
fieldset {
  background-color: #080808;
  border-radius: 20px;
  background-image: url(../img/2.jpg);
  background-size:100% 100%;

}

h1 {
  padding-bottom: 30px;
}

li {
  padding-bottom: 16px;
  padding-left: 10px;
}

label {
  color: rgba(24, 1, 1, 0.938);
  font-size: 14px;
  font-weight: 550;
  
}

input {
  font-size: 14px;
  width: 100%;
  padding: 6px 10px;
  margin: 4px 0;
  box-sizing: border-box;
  border-radius: 20px;
  border-color: black;
}
button {
  background-color: #0f0f0f; 
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  background: #ff3232;


background: linear-gradient(135deg, #000000 0%,#1b1919 50%,#1a1504 51%,#fce303 100%);
 
}
footer{
  padding-top: 20px;
  
}
@media screen and (min-width: 12.6em) {
  #wrap {
    display: inline-block;
    justify-content: center;
  }
  html {
    font-size: 50%;
  }
}

@media screen and (min-width: 24.8em) {
  #wrap {
    display: inline-block;
    justify-content: center;
  }
  html {
    font-size: 100%;
  }
}

@media screen and (min-width: 40em) {
  #wrap {
    display: inline-block;
    justify-content: center;
  }
  h1 {
    font-size: 150%;
  }
}

@media screen and (min-width: 61em) {
  #wrap {
    display: inline-block;
    justify-content: center;
  }
  h1 {
    font-size: 200%;
  }
}

@media screen and (min-width: 83.3em) {
  #wrap {
    display: inline-block;
    justify-content: center;
  }
  h1 {
    font-size: 250%;
  }
}